{% extends 'home/base.html' %}

{% block content %}
    <div>
        <h1>News</h1>
            {% for post in posts %}
            <div>
                <h3>{{ post.post_title }}</h3>
                by {{ post.author }}<br />
                <p>{{ post.post_text|linebreaksbr }}</p>
            </div>
            {% endfor %}
    </div>
    <div>
        <h1>Recent supply requests</h1>
    
    </div>
    <div>
        <h1>Recent supply orders pending delivery</h1>
        
    </div>
    <div>
        <h1>Recently received supply orders</h1>
        
    </div>
{% endblock %}
